<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        
        <%= form_tag("/users/create", multipart: true) do %>
          <p>ユーザー名</p>
          <input name="user[name]" value="<%= @name %>">
          <p>メールアドレス</p>
          <input name="user[email]" value="<%= @email %>">
          <p>パスワード</p>
          <input type="password" name="user[password]" value="<%= @password %>">
          <h2>プロフィール画像</h2>
          <input type="file" name="user[image_name]">
          <input type="submit" value="新規登録">
        <% end %>
        <%= link_to("ログイン", "/login") %>

      </div>
    </div>
  </div>
</div>