<%= javascript_pack_tag 'application' %>
<%= javascript_pack_tag 'tabs' %> 
<%= javascript_pack_tag 'search' %>


<% if @current_user  %>
  <div class="main user-show">
    <div class="container">
      <!-- タブボタン -->
      <div class="user-tab">
        <button class="tab-button active" data-tab="tab1">メンバー</button>
        <button class="tab-button" data-tab="tab2">検索</button>
      </div>

      <!-- タブごとのコンテンツ -->
      <div class="tab-content active" id="tab1">
        <!-- プロジェクトのメンバー -->
          <div id="members-list">
            <!-- ログインユーザー表示 -->
            <% @members.each do |member| %>
            <div>ID: <%= member.user.id %>, Name: <%= member.user.name %></div>
            <% end %> 
          </div>
          
      </div>

      <div class="tab-content" id="tab2">
        <!-- 検索フォーム -->
        <form id="search-form" action="/search" method="get">
          <input type="number" name="id" placeholder="検索するIDを入力">
          <button type="submit">検索</button>
        </form>

        <!-- 検索結果がここに挿入される -->
        <div id="search-results">
          <!-- 検索結果はJavaScriptで動的に追加されます -->
        </div>
      </div>
    </div>
    <div class="post-button-container">
      <div class="post-button">
        <%= link_to "/#{@project.id}", class: "post-button" do %>
        提案
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div class="main">
    <div class="container">
      <h1 class="form-heading">技術スタック</h1>
      <div class="form">
        <div class="form-body">
          <div class="form-error">
          </div>
          <textarea name="content"></textarea>
          
        </div>
      </div>
      <div class="post-button-container">
        <div class="post-button">
        <%= link_to "/project", class: "post-button" do %>
        提案
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>