<%= javascript_pack_tag 'slider' %>
<%= javascript_pack_tag 'gptapi' %>


<div class="main">
    <% if @current_user %>
    <input id="percentages" type="hidden" value="<%= @task_percentages.to_json.html_safe %>">
    <input id="taskNames" type="hidden" value="<%= @task_names.to_json.html_safe %>">
    <input id="project" type="hidden" value="<%= @project.id %>">
    <li>
        <ul>
            <h3>
                プロジェクト名：<%= @project.name %>
            </h3>
        </ul>
        <ul>
            <h3>
                
            </h3>
            <div class="user">
                メンバー
            <% @project.users.each do |user| %>
            <a href="/show/<%= user.id %>">
              <img src="<%= "/user_images/#{user.image_name}" %>" alt="User Image">
            </a>
            <% end %>
            </div>
            
        </ul>
        <ul>
            <h3>
                概要：<%= @project.description %>
            </h3>
        </ul>
        <ul>
            <h3>
                機能リスト(割合順)
            </h3>
            <% @project.tasks.each do |task| %>
            <div>
                ・<%= task.name %>
            </div>
            <% end %>
        </ul>
    </li>
    <h3>
        機能ごとの推定実装時間割合
    </h3>
    <div class="multi-slider-container">
        <div class="slider-track"></div>
    </div>
    <div class="output"></div>

    <% else %>
    <% end %>
</div>


