<!DOCTYPE html>
<html>
  <head>
    <title>Hackathonsupport App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

  </head>
  
  <script>
  // RailsのセッションからプロジェクトIDをJavaScriptに渡す
  var currentProjectId = <%= session[:project_id] || 'null' %>;
  </script>

  <body>
    <header>
      <% if @current_user %>
      <%= @current_user.name %>
      <div class="header-logout">
        <%= form_with(url: "/logout", method: :post) do %>
        <%= submit_tag "ログアウト" %>
        <% end %>
      </div>
      <% else %>
      <div class="header-logut">
        ゲストユーザー
      </div>
      <% end %>
      <div class="header-logo">
        Hackathon Support
      </div>
      <ul class="header-menus">
        <li>
          <%= form_with url: "/start", method: :post do %>
          <%= submit_tag "new" %>
          <% end %>
        </li>
      </ul>
      <ul class="header-menus">
        <% if @current_user %>
        <%# <li>
          <%= link_to("icon", "/show/#{@current_user.id}")
        </li> %>
        <div class="user">
          <a href="/show/<%= @current_user.id %>">
            <img src="<%= "/user_images/#{@current_user.image_name}" %>" alt="User Image">
          </a>
        </div>
        <% else %>
        <li>
        <%= link_to("signup", "/signup")%>
        </li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
